
    <header id="homepage" > 
        <div class="text-center ">
            <div class="img">
                <img src="../../assets/img/img1.svg" class="w-50" alt="">
            </div>
            <h1 class="text-white my-3">START ANGULAR</h1>
            <div class="text-center d-flex justify-content-center my-3 ">
                <div class="customline lineleft my-3"></div>
                <div>
                    <i class="fa-solid fa-star m-1 fs-2 text-white mx-4"></i>

                </div>
                <div class="customline lineright my-3"></div>
            </div>
            <p class="text-white fs-4 my-2">Graphic Artist - Web Designer - Illustrator</p>
        </div>
       
    
        </header> 









