
header{
    margin: 0;
}
#homepage{
    height: 100vh;
    background-color: #1abc9c ;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1{ 
    font-size: 4rem;
}
.customline{
   
    background-color: white;
  
}
